/* Font Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Basic */

.hide{
    display: none;
}

:root {
    --first-color: #FF900E;
    --second-color: #727272;
    --black-color:#131313;
    --text-color:#424242;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

/* Sponsore Styles */

.sponsore__title{
    font-weight: 700;
    font-size: 45px;
    color: var(--black-color);
    margin-bottom: 24px;
}

.sponsore__des{
    color: var(--second-color);
    max-width: 542px;
    margin: 0 auto;
}

.sponsore__list{
    margin-top: 50px;
display: flex;
gap: 50px;

} 
.sponsore__list img{
    filter: grayscale(100%);
}

/* Footer Style */
.footer__text{
    text-align: center;
    padding: 40px 20px ;
    background: #FFF4E7;
border-radius: 8px;
color: var(--text-color)
}


/* Mobai; Responsive */
@media screen and (max-width:576px) {
    .container{
        width: 100%;
        padding: 20px;
    }
    .sponsore__list{
        gap: 20px;
        flex-direction: column;
    }
    .sponsore__list img{
        width: 165px;
        margin: 0 auto;
    }
}